body {
	font-family: helvetica, "LiHei Pro","微軟中黑體", sans-serif;
	font-weight:bold;
	font-color:#586175;
	font-kerning: auto;
	letter-spacing:-.5px;
		
}

p {
	float:right;
	display:inline;
	text-align:right;
	margin:1em;

}

a:visited {
	color:#586175;
}

ul {
	list-style-type: none; 
	padding: 0; 
	display:inline;
	float:left;
	margin:1em;
	position:static;
}

ul:hover {
	border-bottom:black .1em solid;
}

@media (min-width: 900px){
.title_left {
	z-index:1;
	position:fixed;
	top: 1em;
	left: 1em;
	font-size:1em;
	float:right;
}}

.title {
	height:20px;
	float:right;
	text-align:right;
	margin-top:10em;
	width:100%;
	height:5em;
}

.title_right {
	margin-top:10em;
	padding:1em;
	float:right;
}

.box01 {
	width:50px;
	height:500px;
	z-index:0;
	float:left;
	position:absolute;
	color:gray;
	font-size:.3em;
	letter-spacing:-1px;
	word-break: break-all;
}

.box02 {
	margin:3em;
	margin-top:20em;
	width:350px;
	z-index:0;
	float:left;
	position:absolute;
	color:gray;
	font-size:.2em;
	letter-spacing:-1px;
	word-break: break-all;

}


@-webkit-keyframes opacity_01
{
    0% { opacity: 0 ; }
  100% { opacity: 1; }
}
@-webkit-keyframes opacity_02
{
    from { opacity: 1 ; }
  	  to { opacity: 0; }
}