body {
	font-family: "Myriad Set Pro","Lucida Grande", ,"LiHei Pro","微軟中黑體", sans-serif;
	//font-familly:"Lucida Grande", "Lucida Sans Unicode", "STHeitiTC-Light", "Helvetica","Arial","Verdana","sans-serif";
	font-color:#586175;
	letter-spacing: .05em;

}

.title_box{
	margin: .5em;
}
.title{
	margin: 0;
	padding: 0;
	font-size: 12px;
	font-weight: bold;	
	letter-spacing: .2em;
}

.subtitle {
	margin: 0;
	margin-top:-1.5em;
	margin-bottom: 2em;
	font-size: 10px;
	font-weight: light;
	color: gray;
}
.title_l{
	float: right;
	font-size: 10px;
	margin-top: -1em;
	font-weight: bold;

}

.article{
	margin: 0;
	padding: 0;
	font-size: 12px;
	font-weight: light;	
}

a:visited {
	text-decoration:none;
	color:black;
}
a {
	color:black;
	}
@media (min-width: 1024px){
	a:hover 
	{
		color:gray;
		-webkit-animation: opacity_02 1s ease 0s 1 alternate;
		-moz-animation: opacity_02 1s ease 0s 1 alternate;
		-o-animation: opacity_02 1s ease 0s 1 alternate;
		animation: opacity_02 1s ease 0s 1 alternate;

	}
	.img-responsive:hover{
		-webkit-animation: opacity_02 1.5s ease 0s 1 alternate;
		-moz-animation: opacity_02 1.5s ease 0s 1 alternate;
		-o-animation: opacity_02 1.5s ease 0s 1 alternate;
		animation: opacity_02 1.5s ease 0s 1 alternate;

	}

	p.boxt{
		color:black;
		visibility:visible;
	}
	ul:hover{
		background-color:black;
		color:white;
		-webkit-animation: opacity_02 .5s ease 0s 1 alternate;
		-moz-animation: opacity_02 .5s ease 0s 1 alternate;
		-o-animation: opacity_02 .5s ease 0s 1 alternate;
		animation: opacity_02 .5s ease 0s 1 alternate;
	}
	.logo {
		z-index:1;
		position:fixed;
		top: 1em;
		left: 1em;

	}
	ul {
		text-align:right;
		font-size: 12px;
		list-style-type: none; 
		padding: 1em;
		padding-top: .5em; 
		padding-bottom: .5em;
		margin: .2em;
		float: left;

	}
	div.box01{
		visibility:visible;
	}
}

@media (max-width: 1023px){
	ul{
		font-size: 12px;
		float:left;
		width:;
		padding: .5em;
		padding-right: 1em;
		padding-left: 1em;
		margin: .2em;
    	//border:black 1px solid;
		text-align:right;
	}

	div.menu {
		padding-top:2em;
		padding-bottom:-2em;
		margin: 2em -1em 0em 0;
		padding:-2em;
	}
	div.col-sm-5, .col-sm-8, .col-sm-10 {
		padding:0;
		margin:0;
	}
}

	





.menu {
	font-weight:bold;
	margin-bottom:10em;
	padding:1em;
	float:right;
	word-break: break-all;

	margin-top:2em;
}

.box01 {
	padding: 1em;
	padding-right: 0;
	width: 175px;
	height: 500px;
	z-index: 0;
	float: left;
	position: absolute;
	font-size: 12px;
	letter-spacing: -1px;
	word-break: break-all;
	visibility:hidden;
}
.boxt{
	margin: 0;
	padding: 0;
	font-size: 12px;
	font-weight: bold;	
	overflow:hidden;
	color:black;
	word-break: break-all;
	visibility:hidden;
	font-weight: light;
	letter-spacing: .2em;
}

.box02 {
	margin: 3em;
	margin-top: 20em;
	width: 350px;
	z-index: 0;
	float: left;
	position: absolute;
	color: gray;
	font-size: 12px;
	letter-spacing: -1px;
	word-break: break-all;

}

@keyframes opacity_01{
    0% { opacity: 0 ; }
  100% { opacity: 1; }
}
@keyframes opacity_02{
    0% { opacity: .7 ; }
  100% { opacity: 1; }
}

@-moz-keyframes opacity_01{
    0% { opacity: 0 ; }
  100% { opacity: 1; }
}
@-moz-keyframes opacity_02{
    0% { opacity: .7 ; }
  100% { opacity: 1; }
}

@-webkit-keyframes opacity_01{
    0% { opacity: 0 ; }
  100% { opacity: 1; }
}

@-webkit-keyframes opacity_02{
    from { opacity: .7 ; }
  	  to { opacity: 1; }
}


@-o-keyframes opacity_01{
    0% { opacity: 0 ; }
  100% { opacity: 1; }
}

@-o-keyframes opacity_02{
    from { opacity: .7 ; }
  	  to { opacity: 1; }
}

/* Limit the hover styles in your CSS so that they only apply when the nojQuery 
class is present */

body.nojQuery ul#mainFilter a:hover {
    /* CSS-only hover styles go here */
}

