body {
	font-family: "Myriad Set Pro","Lucida Grande", "LiHei Pro","微軟中黑體", sans-serif;
	//font-familly:"Lucida Grande", "Lucida Sans Unicode", "STHeitiTC-Light", "Helvetica","Arial","Verdana","sans-serif";
	font-color:#586175;
	letter-spacing: .05em;

}

.title_box{
	margin: .5em;
}
.title{
	margin: 0;
	padding: 0;
	font-size: .9em;
	font-weight: bold;	
	overflow:hidden;
}

.subtitle {
	margin: 0;
	margin-top:-1.5em;
	margin-bottom: 2em;
	font-size:.6em;
	font-weight: normal;
	color: gray;
}
.title_l{
	float: right;
	margin: 0;
	padding: 0;
	margin-top: -3em;
	font-weight: gray;
	font-weight: bold;

}
a:visited {
	text-decoration:none;
	color:black;
}
a {
	color:black;
	}
@media (min-width: 1024px){
	a:hover 
	{
		color:gray;
		-webkit-animation: opacity_02 1s ease 0s 1 alternate;
	}
	.img-responsive:hover{
		-webkit-animation: opacity_02 1.5s ease 0s 1 alternate;
	}

	.boxt:hover{
		color:black;
	}
	ul:hover{
	background-color:black;
	color:white;
}
}



ul {
	font-size: .9em;
	list-style-type: none; 
	padding: 1em;
	padding-top: .5em; 
	padding-bottom: .5em;
	margin: .2em;
	display: inline;
	float: left;
}



@media (min-width: 900px){
.logo {
	z-index:1;
	position:fixed;
	top: 1em;
	left: 1em;
	font-size:1em;
	float:right;
}}




.menu {
	font-weight:bold;
	margin-bottom:10em;
	padding:1em;
	float:right;

	word-break: break-all;
}

.box01 {
	width: 80px;
	height: 500px;
	z-index: 0;
	float: left;
	position: absolute;
	font-size: 1em;
	letter-spacing: -1px;
	word-break: break-all;
}
.boxt{
	margin: 0;
	padding: 0;
	font-size: .9em;
	font-weight: bold;	
	overflow:hidden;
	color:white;
}

.box02 {
	margin: 3em;
	margin-top: 20em;
	width: 350px;
	z-index: 0;
	float: left;
	position: absolute;
	color: gray;
	font-size: .2em;
	letter-spacing: -1px;
	word-break: break-all;

}


@-webkit-keyframes opacity_01
{
    0% { opacity: 0 ; }
  100% { opacity: 1; }
}
@-webkit-keyframes opacity_02
{
    from { opacity: .7 ; }
  	  to { opacity: 1; }
}

/* Limit the hover styles in your CSS so that they only apply when the nojQuery 
class is present */

body.nojQuery ul#mainFilter a:hover {
    /* CSS-only hover styles go here */
}

